




input[type=button], button {
    width: 200px;
    height: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: darkred;
    padding: 3px;
    border: 30px;
    border-color: aqua;
    border-radius:  10%;
    font-weight: bold;    
}
input[type=button]:hover, button:hover
{
    color:yellow;
    font-weight:bolder;
    size: 110%;
    padding: 4px;
    border: 40px;
}

input[type=text], textarea, input[type=date]{
    background-color: rgb(51, 116, 146, .4);
}

textarea{
    border: inset gray;
}

::placeholder
{
    color:black;
    font-weight: bold;

}

#editdelete{
    background: none;
}
#edbutton{
    width: 100px;
}


div{
    margin-left: 80px;
    background-color: rgb(144, 139, 139, .78);
    width: 20%;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align:middle;
    border-radius: 10%;   
}

div > input[type=button]{
    width: 100px; 
}
#outer{
 background-color:rgba(255, 255, 255, 0.5);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    margin-left: 80px;
    background-image: url("https://t4.ftcdn.net/jpg/01/79/07/77/360_F_179077796_P6UNHX6KBpb1hITJSF1gN173qw4GF98U.jpg");
 }
 
 label {
    display: block;
 }

h1{
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 16px;
    color:#ffffff
}

#title{
    width: 50%;
    border-spacing: 0px;
}
#title th{
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    margin: 0px;
    padding: 30px;
    padding-left: 100px;
}
td{
    font-weight: lighter;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}
caption{
    color:#d60000;
    font-weight: bolder;
    font-size:larger;
    background-color: rgba(87, 94, 123, 0.7);
    padding-top: 15px;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
}
table{
    background-color: rgba(87, 94, 123, 0.7);
    margin-bottom: 30px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;    
}

#display {
    margin-top: 30px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%; 
}

th, td{
    text-align: left;
    border-bottom: 1px #f1f1f1;
}
p {
    background-color: none;
    height: 300%;
}


img {
    width: 10%;
    height: auto;
    background-color: none;
}